<h1>Edit Comment</h1>

<!-- Form tied to model of Comment instance -->
<%= form_for @comment, :url=>{:action => "update", :id => @comment} do |f| %>
<!-- Body column of Comment table -->
<p>Comment: <%= f.text_area 'body' %></p>
<%= f.submit "Save changes" %>
<% end %>

<br />
<%= link_to 'Back', {:action => 'index', :controller => 'posts'} %>